body {
	background-color: #d0d0c0;
}

header,footer {
	background-color: #709090;	
	color: #d9d9d9;
}

footer {
	text-align: center;
}

footer p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 4px;
	padding-bottom:4px;
}

header img {
	padding-left:10px;
}

#statement {	
	font-size: 2em;
	float:right;
	width:250px;
	padding-right:20px;
}

nav, section, aside {
	background-color: #d0e0f0;	
	margin: 10px 0px 0px 0px;
}

#main {
	display:table;		
	border-spacing: 10px;
	margin-left: -10px;
	margin-right: -8px;
}

#mainRow {
	display: table-row;
	
}

section {
	padding: 10px;
}

section#products {
	display: table-cell;	
	width:225px;
}



section#blog {	
	display: table-cell;
}

aside {
	display: table-cell;
	width: 250px;	
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}