body {

	font-family: Verdana, Geneva, Arial, sans-serif;
	
}

p {
	color: maroon;
}

h1, h2 {	
	color: gray;
}

@font-face {
	font-family: Forticula;
	src : url("forficula.ttf");
}

h1 {
	border-bottom: 1px solid black;
	font-family: Forticula;
}

.greatThing {
	font-family: "Times Roman";
	color: blue;
}

.crazyThing {
	color: green;
}

.importantThing {
	color: red;
	border: 10px solid red;
}

