@media screen and (min-width: 980px) /* Desktop */ {
  body {
    background: red;
  }
  #guarantee {
    margin-right: 250px;
  }
}

@media screen  and (max-width: 979px) /* Tablet */ {
  body {
    background: blue;
  }
  #guarantee {
    margin-right: 30px;
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  body {
    background: green;
  }
  #guarantee {
    margin-right: 10px;
  }
}

body { 
	font-size: small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 1.6em;
}

h1, h2 {
	color: #470D09;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

#guarantee {
	border-style: dashed;
	border-color: white;
	border-width: 1px;
	background-color: #e5b5b5;	
	padding: 25px;
	padding-left: 80px;
	line-height: 1.9em;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #444444;
	background-image: url(images/guarantee.png);
	background-repeat: no-repeat;
	background-position: top left;
}


