
body { 
	font-size: small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 1.6em;
	margin: 10px;
	background-color:#E0E0E0;
}

#rustyHeader {
	background-color:#303030;
	padding:10px;
}

#rustyFooter {
	background-color:#303030;
	text-align: center;		
	padding: 10px;
	clear: right;
}
#rustyFooter p {
	margin: 0px;
	color: #F0C0C0;	
	
}

h1, h2 {
	color: #470D09;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

#guarantee {	
	border-style: dashed;
	border-color: white;
	border-width: 1px;
	background-color: #e5b5b5;	
	margin: 30px;
	padding: 25px;
	padding-left: 80px;
	line-height: 1.9em;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #444444;
	background-image: url(images/guarantee.png);
	background-repeat: no-repeat;
	background-position: top left;
}

a:link {
	color: #f54040;	
}

a:visited {	
	color: #601010;	
}

a:hover {
	color:black;
	background-color: #e5b5b5;
}


#flyer h2 {
	color: black;
	font-size: 2em;
}

#flyer h3 {
	color: #C00000;
}

#flyer .footer {
	font-style: italic;
	padding-top: 1em;
}

#tableContainer {
	display:table;
	border-spacing: 10px;
}

#tableRow {
	display:table-row;
}

#flyer {
	display: table-cell;
	border-width: thin;
	border-style: solid;
	border-color: #7e4040;
	width: 250px;
	margin: 10px 0px 10px 10px;
	
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	text-align:center;
	
	background-color: white;
	background-image: url(images/sale.png);
	background-repeat: no-repeat;
	
	line-height: 1;	
}

#main {
	display: table-cell;
}
